# --- Frontend (React/Node) ---
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*

# --- Backend (Django/Python) ---
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class
.env
db.sqlite3
media/
staticfiles/
serviceAccountKey.json

# --- Editor & OS ---
.vscode/
.idea/
.DS_Store
*.sw?